@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #7F7F7F;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #5A5A57;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #494949;
  }

  /* Cat Menu */
  ._0_catMenu{
    background: white;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    position: absolute;
    top: 0.25rem/* 4px */;
    right: 0.25rem/* 4px */;
  }
  ._1_catMenu{
    display: none;
  }
  ._2_catMenu{
    background: white;
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    position: absolute;
    top: 0.75rem/* 12px */;
    right: 0.25rem/* 4px */;
    margin-top: 0;
  }
}
